doctype html
html
    head
        title TutorLink
 
    //- gulp will replce these files extension to .css. Line 32 of gulpfile.js  
    <link rel="stylesheet" href="../../scss/bootstrap.scss" />
    <link rel="stylesheet" href="../../scss/password-reset/password-reset.scss" /> 
     
       
    body
        table.main-table(cellpadding="0", cellspacing="0")
            tr.header-row
                td(colspan=2) 
                    table(cellpadding="0", cellspacing="0")
                        tr
                            td.logo-cell 
                                a(href="http://tutorlink-back.herokuapp.com/")
                                    img.logo(src="http://ssngtechlabs.com/tutorlink-logo.png")
                            td.app-name 
                                h3 TutorLink
            tr.top-content-greeting
                td(colspan=2) Hello!
            tr.top-content-email-address
                td(colspan=2) ogbeni@tutorlink.ng
            tr.main-content
                td(colspan=2) Someone has requested a link to change your password. You can do this through the button below.
            tr.action-button
                td(colspan=2) 
                    a.btn(href="http://tutorlink-back.herokuapp.com/") Reset Password
            tr.after-button
                td(colspan=2) If you didn't request this, please ignore this email. Your password will stay safe and won't be changed.
            tr.footer
                td(colspan=2) 
                    span.regards Yours, TutorLink Team.
                    span.support-mail support@tutorlink.com.
        table.bottom-table(cellpadding="0", cellspacing="0") 
            tr
                td TutorLink. 5, Somewhere in Lagos Island, Lagos, Nigeria - 09062738903 