doctype html
html
    head
        title SSNG Tech Labs
 
    //- gulp will replce these files extension to .css. Line 32 of gulpfile.js  
    <link rel="stylesheet" href="../../scss/bootstrap.scss" />
    <link rel="stylesheet" href="../../scss/password-reset/password-reset.scss" />

        //- embdedded css allowed, but not sass
        style.
            .red{
                background-color: #E84C50;
            }
            .full-width{
                width: 100%;
            }
    body
        table.table(cellpadding="0", cellspacing="0")
            tr
                td.red
                    h3(style="color: white;") Password Reset Email Template
            tr
                td
                    a(href="/")
                        img.full-width(src="https://i.pinimg.com/originals/60/04/30/600430c1d22c731b94cf4e7dae6b398a.gif")