doctype html
html
    head
        title TutorLink
 
    //- gulp will replce these files extension to .css. Line 32 of gulpfile.js  
    <link rel="stylesheet" href="../../scss/bootstrap.scss" />
    <link rel="stylesheet" href="../../scss/password-reset/password-reset.scss" /> 
       
    body
        table.table(cellpadding="0", cellspacing="0")
            tr.header-row
                td
                    a.logo(href="http://tutorlink-back.herokuapp.com/")
                        img.full-width(src="http://ssngtechlabs.com/tutorlink-logo.png")
                td
                    table
                        tr
                            td TutorLink - http://tutorlink-back.herokuapp.com/
                        tr
                            td Jonathanss
            tr
                td
                    a(href="/") Tutorlink
                td another cell
            tr
                td
                td