$body_background: #edeef6;
$white: #ffffff;
$black: #111010;
$menu_color: #8a8a8e;
$grey: #aaaaaa;
$dark-border: #5d5d5d;
$menu_bullet_blue: #b9b9e6;
$very_light_blue: #e2e2ec;
$theme_blue: #006ab6;
$light_blue: #0aaaf7;
$star-color: #febf00;
